
    <ion-content fullscreen padding scroll-y="false">
      <ion-slides>

        <ion-slide>
          <img src="/assets/imgs_vectors/man-mobile.png"/>
          <h1>Exchange Referral With Ease</h1>
          <p>TapAlly is a convenient way to send and receive referrals among your friends</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/imgs_vectors/lady-trophy.png"/>
          <h1>Business Owner ?</h1>
          <p>Make it easier for your customers to exchange your business referral quickly. Grow your brand and sales with ease</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/imgs_vectors/two-people.png"/>
          <h2>Simply a peer-to-peer modern way to send and receive referrals</h2>
          <ion-button (click)="finish()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
